CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_240=y
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ=240
CONFIG_ESP32C5_REV_MIN_0=y
# Use following if boot has debug enabled will also need alternate partiion table
#CONFIG_PARTITION_TABLE_OFFSET=0x10000
