CONFIG_ESP_PHY_INIT_DATA_VDD33_CONST=255
CONFIG_SOC_FULL_ICACHE=y
CONFIG_ESP8266_WIFI_RX_BUFFER_NUM=26
CONFIG_ESP8266_WIFI_LEFT_CONTINUOUS_RX_BUFFER_NUM=4
CONFIG_ESP8266_DEFAULT_CPU_FREQ_160=y

CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.esp8266.csv"