CONFIG_ESP_NETIF_TCPIP_ADAPTER_COMPATIBLE_LAYER=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.esp32c3.csv"

CONFIG_ESP_CONSOLE_UART_BAUDRATE=74880
CONFIG_ESP_CONSOLE_UART_CUSTOM=y
CONFIG_ESP_CONSOLE_SECONDARY_NONE=y

CONFIG_ESPTOOLPY_MONITOR_BAUD_OTHER_VAL=74880
CONFIG_ESPTOOLPY_MONITOR_BAUD=74880
CONFIG_ESPTOOLPY_MONITOR_BAUD_OTHER=y